/* Banner */
.persistent-banner {
    position: fixed;
    top: 5px; /* Stick the banner to the top */
    left: 0;
    width: 100%; /* Make the banner span the full width of the viewport */
    background-color: #333; /* Choose a background color */
    color: white; /* Text color */
    padding: 15px 0; /* Padding for some spacing */
    text-align: center; /* Center the content horizontally */
    z-index: 1000; /* Ensure the banner is on top of other elements */
    opacity: 0.5;
    border-radius: 70px;
}

.persistent-banner button {
    background: none;
    color: aqua;
    border: none;
    padding: 10px 20px;
    margin: 0 100px;
    cursor: pointer;
    font-size: 32px;
    font-family: "Parchment", cursive;
    border-radius: 50px;
    opacity: 1;
}

.persistent-banner button:hover {
    background-color: #555;
}

.section {
    padding: 100px 20px; 
    margin-top: 60px;
}

#about, #hobbies, #coding, #mystery {
    padding: 60px 20px; 
    margin-top: -70px; 
    z-index: 3;
    text-align: center;
    color: white;
}

body {
  width: 100%;
  height: 300vh;
  margin: 0;
  background: #000;
  color: #f5f6f7;
  font-family: "Parchment", cursive;
  font-size: 16px;
  padding: 0;
}

/* openning screen */
img[id="sky island"] {
    max-width: 100%;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.island-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 1; 
}
.island-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 80%);
    pointer-events: none; /* Allow clicks through the mask */
}

h1 {
    position: relative;
    color: white;
    font-size: 4rem;
    z-index: 2;
    text-align: center;
    margin-top: 300px;
    letter-spacing: 10px;
    margin-bottom: -300px;
}
h1[id="title end"]{
    padding-bottom: 40%;
}

/* About */
h2[name="garden"] {
    position: relative;
    color: white;
    font-size: 2rem;
    z-index: 2;
    text-align: center;
    letter-spacing: 10px;
    padding-bottom: 15px;
}
p {
    position: relative;
    color: white;
    font-size: 1rem;
    text-align: center;
    z-index: 2;
    padding-left: 15%;
    letter-spacing:8px;
    max-width: 70%;
    margin-bottom: -30px;
}


p[name] {
    position: relative;
    font-size: 3em;
    top: 450px;
    z-index: 4;
    display: block; 
}


img[id="garden"] {
    max-width: 100%;
    text-align: center;
    border-radius: 30px;
}
.garden-image {
    position: relative;
    top: -1410px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 1; 
}
.garden-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0, 100%) 5%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 1) 90%);
    pointer-events: none; /* Allow clicks through the mask */
    z-index: 2;
    border-radius: 30px;
}


/* Hobbies */
h2[name="hobbies"] {
    position: relative;
    color: white;
    font-size: 2rem;
    z-index: 2;
    text-align: center;
    top: 750px;
    letter-spacing: 10px;
    padding-bottom: 10px;
}

p[name="oracle_description"] {
    position: relative;
    top: 750px;
    font-size: 1rem;
    z-index: 2;
}
label[id="hobbies"] {
    position: relative;
    top: 310px;
}
img[id="sun"] {
    max-width: 100%;
    text-align: center;
    border-radius: 30px;
    border-top-right-radius: 0;
    z-index: 1;
}
.sun-image {
    position: relative;
    top: -1100px;
    left: -32px;
    width: 102%;
    height: 100%;
    object-fit: cover;
    z-index: 1; 
}
.sun-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0, 1) 10%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 1) 89%);
    pointer-events: none; /* Allow clicks through the mask */
    z-index: 2;
    border-radius: 30px;
    border-top-right-radius: 0;
}


/* Coding Projects (currently empty) */
h2[name="coding"] {
    position: relative;
    color: white;
    font-size: 2rem;
    z-index: 2;
    text-align: center;
    top: 1550px;
    letter-spacing: 10px;
    padding-bottom: 10px;
}

p[name="library_description"] {
    position: relative;
    top: 1550px;
    font-size: 1rem;
    z-index: 2;
}


label[id="coding"] {
    position: relative;
    top: 1150px;
}


/* Container to hold the floating text */
.floating-container {
    position: absolute;
    top: 4250px;
    left: 250px;
    width: 80vw;
    height: 80vh;
    border: #f5f6f7;
    border-width: 50px;
    z-index: 4;
}

/* Floating text styles */
.floating-text {
    position: absolute;
    font-size: 2rem;
    color: white;
    animation: floatAnimation 10s infinite ease-in-out;
    opacity: 0.5;
    z-index: 4;
}

/* Define random starting positions and slight variations in speed */
.floating-text:nth-child(1) { top: 1%; left: 30%; animation-duration: 150s; }
.floating-text:nth-child(2) { top: 35%; left: 10%; animation-duration: 50s; }
.floating-text:nth-child(3) { top: 40%; left: 55%; animation-duration: 80s; }
.floating-text:nth-child(4) { top: 60%; left: 30%; animation-duration: 70s; }
.floating-text:nth-child(5) { top: 80%; left: 50%; animation-duration: 30s; }
.floating-text:nth-child(6) { top: 60%; left: 57%; animation-duration: 50s; }
.floating-text:nth-child(7) { top: 65%; left: 15%; animation-duration: 40s; }
.floating-text:nth-child(8) { top: 35%; left: 35%; animation-duration: 20s; }

/* Animation to create floating movement */
@keyframes floatAnimation {
    0%, 100% {
        transform: translate(25px, 30px) rotate(0deg) scale(1);
    }
    25% {
        transform: translate(40px, -70px) rotate(3deg) scale(1.1);
    }
    50% {
        transform: translate(-30px, 10px) rotate(-5deg) scale(1.05);
    }
    75% {
        transform: translate(35px, -35px) rotate(3deg) scale(0.95);
    }
}

img[id="library"] {
    max-width: 100%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    text-align: center;
    border-radius: 30px;
}
.library-image {
    position: relative;
    top: -780px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; 
}
.library-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0, 100%) 15%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 1) 90%);
    pointer-events: none; /* Allow clicks through the mask */
    border-radius: 30px;
}


/* MYSTERY??? */
h2[name="mystery"] {
    position: relative;
    color: white;
    font-size: 2rem;
    z-index: 2;
    text-align: center;
    top: 2550px;
    letter-spacing: 10px;
    padding-bottom: 10px;
}

p[name="ruins_description"] {
    position: relative;
    top: 2550px;
    font-size: 1rem;
    z-index: 2;
}
label[id="mystery"] {
    position: relative;
    top: 20px;
}

p[name="??? pt_1"] {
    position: absolute;
    top: 5600px;
    font-size: 2em;
    left: -10%;
    max-width: 40%;
}
p[name="??? pt_2"] {
    position: absolute;
    top: 5750px;
    font-size: 2em;
}
p[name="??? pt_3"] {
    position: absolute;
    top: 5950px;
    right: 10%;
    font-size: 2em;
    max-width: 40%;
}
footer{
    position: absolute;
    text-align: center;
    top: 6300px;
    font-size: 1em;
    margin: 0 auto;
    width: 100%; /* Ensure the footer spans the full width */
    padding: 10px 0;
    z-index: 4;
}

img[id="ruins"] {
    max-width: 100%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    text-align: center;
    margin-bottom: -300px;

}
.ruins-image {
    position: relative;
    top: -300px;
    left: 0;
    width: 100%;
    height: 140%;
    object-fit: cover;
    z-index: 1; 
    margin-bottom: -1000px;
}
.ruins-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160%;
    background: linear-gradient(rgb(0, 0, 0, 100%) 0%, rgba(0, 0, 0, 20%) 50%, rgba(0, 0, 0, 1) 100%);
    pointer-events: none; /* Allow clicks through the mask */
    margin-bottom: -1000px;
}

body {
	background-color: #000;
}

/* Applying CSS to sphere */
.tagcloud {
    z-index: 1000;
	display: inline-block;
	top: -307vh;
	left: 36.5%;
    margin-left: auto;
    margin-right: auto;
	font-weight: bold;
	letter-spacing: 5px;
	font-family: "Parchment", cursive;
	font-size: 21px;
    opacity: 0.5;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item:hover {
	color: maroon;
    opacity: 1;
    background-color: white;
    border-radius: 40%;
   
}