/* Banner */
.persistent-banner {
    position: fixed;
    top: 0.5vh; /* Stick the banner to the top */
    left: 0;
    width: 100%; /* Make the banner span the full width of the viewport */
    background-color: #333; /* Choose a background color */
    color: white; /* Text color */
    padding: 1.5vh 0; /* Padding for some spacing */
    text-align: center; /* Center the content horizontally */
    z-index: 1000; /* Ensure the banner is on top of other elements */
    opacity: 0.5;
    border-radius: 7vh;
}

.persistent-banner button {
    background: none;
    color: aqua;
    border: none;
    padding: 1vh 2vw;
    margin: 0 10vw;
    cursor: pointer;
    font-size: 3.2vh;
    font-family: "Parchment", cursive;
    border-radius: 5vh;
    opacity: 1;
}

.persistent-banner button:hover {
    background-color: #555;
}

.section {
    padding: 10vh 2vw; 
    margin-top: 6vh;
}

#about, #hobbies, #coding, #mystery {
    padding: 6vh 2vw; 
    margin-top: -7vh; 
    z-index: 3;
    text-align: center;
    color: white;
}

body {
    width: 100%;
    height: 300vh;
    margin: 0;
    background: #000;
    color: #f5f6f7;
    font-family: "Parchment", cursive;
    font-size: 1.6vh;
    padding: 0;
}

/* opening screen */
img[id="sky island"] {
    max-width: 100%;
    text-align: center;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}
.island-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 1; 
}
.island-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 80%);
    pointer-events: none; /* Allow clicks through the mask */
}

h1 {
    position: relative;
    color: white;
    font-size: 4rem;
    z-index: 2;
    text-align: center;
    margin-top: 30vh;
    letter-spacing: 1vw;
    margin-bottom: -30vh;
}
h1[id="title end"]{
    padding-bottom: 80vh;
}

/* About */
h2[name="garden"] {
    position: relative;
    color: white;
    font-size: 2rem;
    z-index: 2;
    text-align: center;
    letter-spacing: 1vw;
    padding-bottom: 1.5vh;
}
p {
    position: relative;
    color: white;
    font-size: 1rem;
    text-align: center;
    z-index: 2;
    padding-left: 15vw;
    letter-spacing:0.8vw;
    max-width: 70vw;
    margin-bottom: -3vh;
}


p[name] {
    position: relative;
    font-size: 3em;
    top: 45vh;
    z-index: 4;
    width: 100%;
    display: block; 
}


img[id="garden"] {
    max-width: 100%;
    text-align: center;
    border-radius: 3vh;
}
.garden-image {
    position: relative;
    top: -171vh;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 1; 
}
.garden-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0, 100%) 5%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 1) 90%);
    pointer-events: none; /* Allow clicks through the mask */
    z-index: 2;
    border-radius: 3vh;
}


/* Hobbies */
h2[name="hobbies"] {
    position: relative;
    color: white;
    font-size: 2rem;
    z-index: 2;
    text-align: center;
    top: 79vh;
    letter-spacing: 1vw;
    padding-bottom: 1vh;
}

p[name="oracle_description"] {
    position: relative;
    top: 79vh;
    font-size: 1rem;
    z-index: 2;
}
label[id="hobbies"] {
    position: relative;
    top: 31vh;
}
img[id="sun"] {
    max-width: 100%;
    text-align: center;
    border-radius: 3vh;
    border-top-right-radius: 0;
    z-index: 1;
}
.sun-image {
    position: relative;
    top: -140vh;
    left: -3.2vw;
    width: 102vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1; 
}
.sun-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    background: linear-gradient(rgb(0, 0, 0, 1) 10%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 1) 89%);
    pointer-events: none; /* Allow clicks through the mask */
    z-index: 2;
    border-radius: 3vh;
    border-top-right-radius: 0;
}


/* Coding */
h2[name="coding"] {
    position: relative;
    color: white;
    font-size: 2rem;
    z-index: 2;
    text-align: center;
    top: 185vh;
    letter-spacing: 1vw;
    padding-bottom: 1vh;
}

p[name="library_description"] {
    position: relative;
    top: 185vh;
    font-size: 1rem;
    z-index: 2;
}


label[id="coding"] {
    position: relative;
    top: 115vh;
}


/* Container to hold the floating text */
.floating-container {
    position: absolute;
    top: 495vh;
    left: 19vw;
    width: 80vw;
    height: 80vh;
    border: #f5f6f7;
    border-width: 5vh;
    z-index: 4;
}

/* Floating text styles */
.floating-text {
    position: absolute;
    font-size: 2rem;
    color: white;
    animation: floatAnimation 10s infinite ease-in-out;
    opacity: 0.5;
    z-index: 4;
}

/* Define random starting positions and slight variations in speed */
.floating-text:nth-child(1) { top: 1%; left: 30%; animation-duration: 150s; }
.floating-text:nth-child(2) { top: 35%; left: 10%; animation-duration: 50s; }
.floating-text:nth-child(3) { top: 40%; left: 55%; animation-duration: 80s; }
.floating-text:nth-child(4) { top: 60%; left: 30%; animation-duration: 70s; }
.floating-text:nth-child(5) { top: 80%; left: 50%; animation-duration: 30s; }
.floating-text:nth-child(6) { top: 60%; left: 57%; animation-duration: 50s; }
.floating-text:nth-child(7) { top: 65%; left: 15%; animation-duration: 40s; }
.floating-text:nth-child(8) { top: 35%; left: 35%; animation-duration: 20s; }
@keyframes floatAnimation {
    0%, 100% {
        transform: translate(2.5vh, 3vh) rotate(0deg) scale(1);
    }
    25% {
        transform: translate(4vh, -7vh) rotate(3deg) scale(1.1);
    }
    50% {
        transform: translate(-3vh, 1vh) rotate(-5deg) scale(1.05);
    }
    75% {
        transform: translate(3.5vh, -3.5vh) rotate(3deg) scale(0.95);
    }
}

img[id="library"] {
    max-width: 100%;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    text-align: center;
    border-radius: 3vh;
}
.library-image {
    position: relative;
    top: -108vh;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; 
}
.library-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0, 100%) 15%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 1) 90%);
    pointer-events: none; /* Allow clicks through the mask */
    border-radius: 3vh;
}


/* MYSTERY??? */
h2[name="mystery"] {
    position: relative;
    color: white;
    font-size: 2rem;
    z-index: 2;
    text-align: center;
    top: 270vh;
    letter-spacing: 1vw;
    padding-bottom: 1vh;
}

p[name="ruins_description"] {
    position: relative;
    top: 270vh;
    font-size: 1rem;
    z-index: 2;
}
label[id="mystery"] {
    position: relative;
    top: 2vh;
}

p[name="??? pt_1"] {
    position: absolute;
    top: 640vh;
    font-size: 2em;
    left: -10vw;
    max-width: 40vw;
}
p[name="??? pt_2"] {
    position: absolute;
    top: 655vh;
    font-size: 2em;
}
p[name="??? pt_3"] {
    position: absolute;
    top: 675vh;
    right: 10vw;
    font-size: 2em;
    max-width: 40vw;
}
footer{
    position: absolute;
    text-align: center;
    top: 730vh;
    font-size: 1em;
    margin: 0 auto;
    width: 100%; /* Ensure the footer spans the full width */
    padding: 1vh 0;
    z-index: 4;
    margin-bottom: -100vh;
}

img[id="ruins"] {
    max-width: 100%;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    text-align: center;
    padding-bottom: -10vh;

}
.ruins-image {
    position: relative;
    top: -70vh;
    left: 0;
    width: 100%;
    height: 140vh;
    object-fit: cover;
    z-index: 1; 
    margin-bottom: -100vh;
}
.ruins-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background: linear-gradient(rgb(0, 0, 0, 100%) 0%, rgba(0, 0, 0, 20%) 50%, rgba(0, 0, 0, 1) 100%);
    pointer-events: none; /* Allow clicks through the mask */
    margin-bottom: -100vh;
}


/* Applying CSS to sphere */
.tagcloud {
    z-index: 1000;
	display: inline-block;
	top: -375vh;
	left: 36.5%;
    margin-left: auto;
    margin-right: auto;
	font-weight: bold;
	letter-spacing: 0.5vh;
	font-family: "Parchment", cursive;
	font-size: 2em;
    opacity: 0.5;

}

/* Change color of each text in sphere on hover   */
.tagcloud--item:hover {
	color: maroon;
    opacity: 1;
    background-color: white;
    border-radius: 30em;
   
}